.edit-airport
  %h1 Редактировать аэропорт
  = render 'form', airport: @airport do |f|
    = f.submit 'Сохранить', class: 'btn btn-primary'
    = link_to 'Назад', airports_path, class: 'back btn btn-default'