.new-airline
  %h1.text-center Добавить новую авиакомпанию
  = render 'form', airline: @airline do |f|
    = f.submit 'Добавить', class: 'btn btn-primary'
    = link_to 'Назад', airlines_path, class: 'back btn btn-default'