.navbar {
  border-bottom: 1px solid #F75725;
  border-radius: 0;

  .navbar-nav > li > a {
    color: black;
    font-weight: 600;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .navbar-right > li > a:hover{
    color: #F75725;
  }

  .nav > li > a:hover {
    color: #F75725;
  }
}
