.log-in, .sign-up, .forgout-password{
  width: 320px;
  margin: 0 auto;
  box-shadow: 0px 2px 8px 8px rgba(0,0,0,0.3);
  border-radius: 2px;
  padding: 20px;

  em {
    font-weight: normal;
  }

  .form-check  {
    .form-check-label {
      padding-left: 5px;
    }
  }

  .actions {
    padding-bottom: 15px;
    border-bottom: 1px solid grey;

    input {
      width: 100%;
      border-radius: 20px;
    }
  }

  .shared-links {
    padding-top: 15px;
  }

  .img-logo {
    width: 96px;
    height: 96px;
    border-radius: 50%;
  }
}
