%nav.navbar.navbar-default{ role: 'navigation' }
  .container-fluid
    .navbar-header
      %button.navbar-toggle{ data: { target: '#navbar-booking-airways', toggle: 'collapse' }, type: 'button' }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ href: '/' } Kaddisto Airways
    #navbar-booking-airways.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-center
        %li
          = link_to 'Бронирование', '/'
        %li
          = link_to 'Мои бронирования', '#'

      %ul.nav.navbar-nav.navbar-right
        %li
          - if user_signed_in?

            = link_to 'Выход', destroy_user_session_path, method: :delete
          - else
            = link_to 'Войти', new_user_session_path
